<div class="card">
    <div class="card-body">
      <h4 class="card-title">Review Table</h4>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Index</th>
              <th>User Name</th>
              <th>Service Provider Name</th>
              <th>Review Details</th>
              <th>Stars</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let review of reivews; let i = index" >
              <td>{{i+1}}</td>
              <td>{{review.user.firstName}}</td>
              <td>{{review.serviceId.firstName}}</td>
              <td>{{review.reviewDetails}}</td>
              <td >
                <i *ngFor="let item of [].constructor(review.stars);let i=index" class="ti-star menu-icon"></i>
               </td>
              <td> 
                
                
                <!-- <input class="form-check-input" type="checkbox" role="switch" id="flexSwitch"  (click)="disableEnable(review._id,review.isActive)" /> -->
                <!-- <label class="form-check-label" for="flexSwitch"  >{{review.isActive?"Enable":"Disable"}}</label> -->
                 <!-- <label class="form-check-label" for="flexSwitch"  *ngIf="review.isActive== true">Enable</label>  -->
                <!-- <label class="form-check-label" for="flexSwitch"  *ngIf="review.isActive== false">Disable</label> -->
                <button class="btn btn-info me-2"  (click)="disableEnable(review._id,review.isActive)">{{review.isActive?"Enabled":"Disabled"}}</button>

    

            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>