<app-admin-header></app-admin-header>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Role Table</h4>
    <div class="table-responsive">
      <table datatable class="table table-hover">
        <thead>
          <tr>
            <th>RoleId</th>
            <th>RoleName</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles;let i=index">
            <td>{{i+1}}</td>
            <td>{{role.roleName}}</td>
            <tD><button class="btn btn-info me-2" (click)="editRole(role._id)">Edit</button><button
                class="btn btn-info me-2" (click)="deleteRoleById(role._id)"> Delete </button></tD>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>