<div class="card">
    <div class="card-body">
      <h4 class="card-title">Add Category</h4>
      
      <div class="forms-sample">
        <div class="form-group">
          <label for="exampleInputUsername1">Category Name</label>
          <input type="text" class="form-control" id="categoryName" placeholder="Category Name" [(ngModel)] = "categoryName">
        </div>
        
        <button type="submit" class="btn btn-primary me-2" (click)="addCategory()">Submit</button>
        <button class="btn btn-light" routerLink="/admin/listCategory">Cancel</button>
      </div>
    </div>
</div>